nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #007BFF;
  font-size: 18px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #121314;
}

.navbar-item {
  padding: 10px 20px;
  background-color: #e4bfbf;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
